html{
  scroll-behavior: smooth;
  font-family: sans-serif;
}
.head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head p{
  border: 2px black solid;
  padding: 5px;
  margin-left: 160px;
}

.links a{
  padding: 20px;
  text-decoration: none;
  color: #1F1F1F;
}

.btns{
  margin-right: 87px;
}
.btns button{
  border: 1px black solid;
  background-color: transparent;
  margin: 15px;
}

.main-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;

}
.main-text h1{
  margin-bottom: 12px;
}
.main-text p{
  margin-top: 0px;
}

.main-text svg{
  margin-top: 50px;
}

.line{
  text-align: center;
  position: relative;
  max-width: auto;
  margin: 100px auto;
}

.line::before{
  content: " ";
  display: block;
  height: 2px;
  width: 37%;
  position: absolute;
  top: 50%;
  left: 5%;
  background: black;
}

.line::after{
  content: " ";
  display: block;
  height: 2px;
  width: 37%;
  position: absolute;
  top: 50%;
  right: 5%;
  background: black;
}

.about-me-text{
  margin: auto;
  max-width: 800px;
  max-height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  place-items: center;
} 

.about-me-text p{
  color: #1F1F1F;
  font-size: 1rem;
}

.about-me{
  background-color: #C4C4C4;
  padding: 100px;
}